{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}

<p>I’m a software engineer in Istanbul, Turkey who brings almost two decades of experience to building scalable and user-centered web applications</p>

<p>I’m passionate about <a href="https://github.com/ercanozkaya" target="_blank">open source</a> and have contributed to several major projects over the years. The most notable is <a href="https://www.joomla.org/" target="_blank">Joomla</a>, where I served as release manager and took part in the <a href="https://summerofcode.withgoogle.com/" target="_blank">Google Summer of Code</a> program.</p>

<p>Currently, I’m part of the team at <a href="https://www.timble.net/" target="_blank">Timble</a>, where I lead product development from initial design through architectural planning and take a hands-on approach to both frontend and backend development.</p>
